# Python lecture 01

In [1]:
print("hello world") #Trademark of any programming language

In [2]:
#c++ or java is so lengthy to print hello world

In [3]:
#swapping in python

a = 10
b = 20

a,b = b,a

print(a)
print(b)

20
10

In [4]:
#jupyter is the IDE of python

In [5]:
#print is a keyword

In [6]:
print(2+2)

4

In [7]:
2+2

4

In [8]:
#string is the group of characters

In [9]:
name = "Hassan"
nationality = "I am from Pakistan"

print(name,",")
print(nationality)

Hassan ,
I am from Pakistan

In [10]:
#syntax is how you write your code

In [11]:
a = 5
b = 10
c = a+b
print(c)

15

In [12]:
a1 = -10
b1 = -10
c1 = a1 + b1
print(c1)

-20

In [13]:
_first_name = "mark"
last_name = "zuckerberg"
final_name = _first_name +" "+ last_name 
print(final_name)

mark zuckerberg

In [14]:
a = 10;
b =20;
c = a + b;
print(c);

30

In [15]:
#python is case sensitive
x = 5
print(x)

5

In [16]:
a = "8"
b = 5
c = a*b
print(c)

88888

In [17]:
num = .75
num2 = 200 + num
print(num2)

200.75

In [18]:
a = 12
b = 13
c = a-b
print(c)

-1

In [19]:
a = 10%3
print(a)

1

In [20]:
a = 10%2
a

0

In [21]:
a = 5
a = a+1
print(a)

6

In [22]:
a = 10
a +=2
print(a)

12

In [23]:
#ambiguidy as a bodmas theorm (),/,*,+,-
t = 1+2*3
print(t)

7

In [24]:
p = 1+3*4
print(p)

13

In [25]:
p = (1+3)*4
print(p)

16

In [26]:
p = (1+3)*4/2
print(p)

8.0

In [27]:
p = (1+3)*4//2
print(p)

8

In [28]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print(whole_greeting)

Hello, World!

In [29]:
print("my number is " +5)

TypeError: can only concatenate str (not "int") to str

In [30]:
print("my number is " +"5")

my number is 5

In [31]:
a = 3 **2
a

9

In [32]:
print("hello" *4)

hellohellohellohello

In [33]:
print(4*"hello")

hellohellohellohello

In [34]:
print("hello"*4.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
x = int(input("Enter your name"))
y = 15
z = x+y
print(z)

Enter your name20
35